body {
    background: #141414;
    background-size: contain;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 100%;
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.info {
    width: 42rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.info h1 {
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--light200);
}

.info p {
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: var(--light200);
}

.form-box {
    width: 40rem;
    display: flex;
    flex-direction: column;
    background: var(--dark10);
    padding: 3.2rem;
    border-radius: .8rem;
    box-shadow: inset 0 2px 10px rgba(0, 0, 0, .35), inset 0 -2px 10px rgba(0, 0, 0, .35);
}

.form-box:nth-of-type(2) {
    text-align: center;
    color: var(--dark90);
    gap: .8rem;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, .2), inset 0 -2px 6px rgba(0, 0, 0, .2);
}

.form-box:nth-of-type(2) h2 {
    font-size: 1.6rem;
    text-transform: uppercase;
}

.form-box:nth-of-type(2) p {
    font-size: 1.4rem;
}

.input-form:nth-child(n+2) {
    margin-top: 1.6rem;
}

.form-field {
    font-size: 1.6rem;
    padding: 1rem .8rem;
    border: 1px solid var(--dark90);
    border-radius: .4rem;
}

.form-text {
    padding: .8rem;
    border: 1px solid var(--dark90);
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    border-radius: .4rem;
}

.form-field::placeholder,
.form-text::placeholder {
    color: var(--dark90);
}

.form-field:focus,
.form-text:focus {
    border: 1px solid var(--dark30);

    &::placeholder {
        color: transparent;
    }
}

.error-text {
    display: none;
    color: var(--error);
    font-size: 1.2rem;
    margin: .4rem 0 0;
}

.valid,
.valid:focus {
    border: 1px solid var(--correct);
}

.invalid {
    border: 1px solid var(--error);
}

.error {
    display: block;
}

.camp-info {
    color: var(--dark90);
    font-size: 1.6rem;
    font-style: italic;
    margin: 2.4rem 0 1.2rem;
}

.btn-submit {
    height: 4rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--light200);
    background: var(--button);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .15s ease-in-out;
}

.btn-submit:hover {
    background: #1f9956;
}

.hide {
    display: none !important;
}

@media (max-width: 992px) and (min-width: 769px) {
    .box {
        gap: 4rem;
    }
}

@media (max-width: 768.99px) {
    .box {
        flex-direction: column;
    }

    .info {
        width: 95%;
        text-align: center;
    }
}

@media (max-width: 490px) {
    body {
        height: 100%;
    }

    .box {
        max-width: 100%;
        margin: 3.2rem 0 0;
        gap: 4rem;
    }

    .info h1 {
        font-size: 2rem;
    }

    .info p {
        font-size: 1.6rem;
    }

    .form-box {
        width: 100%;
        padding: 2.8rem;
        border-radius: 1rem 1rem 0 0;
    }
    
    .form-box:nth-of-type(1) {
        box-shadow: none;
    }

    .form-box:nth-of-type(2) {
        border-radius: 0;
    }
}